<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="same-origin" />
    <link rel="stylesheet" href="/assets/index.css" />
    <script src="/assets/worker.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>404小说文库</title>
  </head>
  <body>
    <div class="main">
      <h2>404小说文库</h2>
      <div class="description">
        <p>
          在这个404时代，由于种种原因，起点、晋江、刺猬猫、SF等小说网站上的小说经常毫无征兆的消失。即使该小说已经入V，即使你已经订阅了该小说。
        </p>
        <p>
          这样的例子数不胜数。随便打开笔趣阁等转载网站，首发于起点，但现在起点上找不到该小说的情形比比皆是。像<a
            href="https://zh.wikipedia.org/zh-hans/%E8%BD%BB%E6%96%87%E8%BD%BB%E5%B0%8F%E8%AF%B4"
            rel="noopener"
            target="_blank"
            >轻文轻小说</a
          >这种整个网站都上天了的情况也不是没有。
        </p>
        <p>
          如果小说消失时被笔趣阁等转载网站转载了，后来的读者尚且能一睹其风采，但如果小说发布的网站不是起点，小说也不够热，根本就没有转载网站转载，那后来者想一睹该小说的风采，就相当困难了。
        </p>
        <p>
          404小说文库项的目的是：保存这些质量上乘，但不够热门，没有被其他网站转载，彻底从互联网上消失的作品。
        </p>
        <p><br /></p>
        <p>进行404小说文库项目，版权是一个无法回避的问题。</p>
        <p>毫无疑问，未授权转载并不符合当前法律，存在一定的法律风险。</p>
        <p>
          但合法并不意味着合理，不合法也不意味着不合理。sci-hub、z-lib、libgen
          便是例证。
        </p>
        <p>
          究其根本，版权制度的根本目的是鼓励创作，授予作者一定时间的专有权利，以使其借此盈利，只是为了达到鼓励创作这一目的的手段。
        </p>
        <p>
          如果一个作品彻底消失，尸骨无存，那又谈何作者权益，谈何版权，谈何鼓励创作。
        </p>
      </div>
      <hr>
      <h2>索引</h2>
      <div class="toc">
          {%- for book in books -%}
          <div class="book">
            《<a href="{{ book.href }}">{{ book.bookname }}</a>》作者：{{ book.author }}
          </div>
          {%- endfor -%}
      </div>
    </div>
  </body>
</html>
